{% extends 'contacts/base.html' %}
{% block content %}

{% if request.user.is_authenticated %}
<table class="table ">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Description</th>
            <th scope="col">Cell</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
        </tr>
    </thead>

    <tbody>
        {% for contact in contacts %}
        <tr>
            <td>{{ contact.name }}</td>
            <td>{{ contact.lastname }}</td>
            <td>{{ contact.description }}</td>
            <td>{{ contact.mobile }}</td>
            <td>{{ contact.work }}</td>
            <td>{{ contact.email }}</td>
            <td> <a href="{% url 'contact_detail' pk=contact.pk %}" class="btn btn-primary">More</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
 {% else %}
 <h1 class="text-primary mt-4 text-center">The CRM platform that is simple to set up and easy to use</h1>
 <p class="mt-5 text-center">Manage everything in one place. contact book lets you handle
contacts, and much more!</p>
        <a class="btn btn-danger text-capitalize" href="/login" style = "position: relative;
left: 50%;
transform: translate(-50%, 0);">Join us today!</a></li>


         {% endif %}



{% endblock %}