{% extends 'contacts/base.html' %}
{% block content %}


<table class="table ">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Description</th>
            <th scope="col">Cell</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
        </tr>
    </thead>

    <tbody>
        {% for contact in contacts %}
        <tr>
            <td>{{ contact.name }}</td>
            <td>{{ contact.lastname }}</td>
            <td>{{ contact.description }}</td>
            <td>{{ contact.mobile }}</td>
            <td>{{ contact.work }}</td>
            <td>{{ contact.email }}</td>
            <td> <a href="{% url 'contact_detail' pk=contact.pk %}" class="btn btn-primary">More</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}